{% extends 'base.html.twig' %}

{% block body %}
    <section class="homepage-body">
        <div class="container-fluid homepage-container admin-homepage-container">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn" href="{{ path('admin_users') }}" role="button">User list</a>
                </div>
                <div class="col-md-4">
                    <a class="btn" href="#{#{{ path('') }}#}" role="button">Comments</a>
                </div>
                <div class="col-md-4">
                    <a class="btn" href="#{#{{ path('') }}#}" role="button">Smthg to come</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

