$primary-color: #312121;
$secondary-color: #FAFAFA;
$wc-color: #FFD700;
$background01-large: url(/build/images/background01-large.26c65ce5.png);
$background02-large: url(/assets/images/background02-large.jpg);
$background01-small: url(/build/images/background01-small.1133516d.png);
$background02-small: url(/assets/images/background02-small.png);
