@import "vars";
@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: "Eastwood";
    src: url("../fonts/eastwood_2/Eastwood.otf"),
    url("../fonts/eastwood_2/Eastwood.ttf"),
    url("../fonts/eastwood_2/Eastwood.woff2") format("woff2"),
    url("../fonts/eastwood_2/Eastwood.woff") format("woff");
}
@font-face {
    font-family: "Eastwood_Italic";
    src: url("../fonts/eastwood_2/Eastwood Italic.otf"),
    url("../fonts/eastwood_2/Eastwood Italic.ttf"),
    url("../fonts/eastwood_2/Eastwood Italic.woff2") format("woff2"),
    url("../fonts/eastwood_2/Eastwood Italic.woff") format("woff");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    background-image: $background01-small;
    background: -o-$background01-small;
    background: -moz-$background01-small;
    background: -webkit-$background01-small;
    background: -ms-$background01-small;
    background-position: center;
    background-repeat: round;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: $primary-color;
    font-family: $eastwood-font;
    color: $secondary-color;

    .navbar-brand {
        font-size: 3rem;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .custom-toggler.navbar-toggler {
        border-color: $secondary-color;
    }

    .navbar-list {
        align-items: baseline;
    }


    a, .navbar-coins {
        color: $secondary-color !important;
        font-size: 2rem;
        margin-left: 20px;
    }

    .dropdown-menu {
        background-color: $primary-color;

        .dropdown-item:hover {
            color: $primary-color !important;
        }
    }
}

.homepage-body {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    .user-table-container {
        justify-content: center;

        .row {
            justify-content: center;

            .table-user {
                background-color: $primary-color;
                opacity: 0.95;
                border-radius: 20px 0 20px 0;
                width: 90%;
                margin-top: 50px;
                float: left;

                a {
                    color: $secondary-color;
                }

                th {
                    font-size: 2rem;
                    color: $secondary-color;
                    text-align: center;
                    border-bottom: 1px solid $secondary-color;
                    border-top: 0;
                    font-family: $eastwood-font;
                }

                td {
                    font-size: 1rem;
                    font-family: $roboto-font;
                    color: $secondary-color;
                    text-align: center;
                    border: 0;
                }

                tr th {
                    border-top: 0;
                }

                .tr-user:hover {
                    background-color: $secondary-color;

                    td, a {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .homepage-container {
        margin-top: 250px;
        margin-bottom: 150px;
        background-color: $primary-color;
        width: 75%;
        opacity: 0.95;
        border-radius: 20px 0 20px 0;
        font-family: $eastwood-font;

        @media screen and (min-width: 768px) {
            margin-top: 150px;
        }

        .homepage-welcome {
            background-color: $primary-color;
            opacity: 0.95;
            color: $secondary-color;
            text-align: center;
            width: 90%;
            margin: 0 auto;

            h1 {
                text-align: center;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                padding: 50px 0;
                font-size: 3rem;
            }

            p {
                margin-bottom: 50px;
                text-align: center;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                font-size: 2rem;
            }
        }
    }

    .admin-homepage-container {
        a {
            font-size: 3rem;
            color: $secondary-color;
            text-align: center;
            display: block;
        }
    }

    .user-details {
        background-color: $primary-color;
        opacity: 0.95;
        border-radius: 20px 0 20px 0;
        width: 90%;

        form {
            padding: 20px;
        }

        .search-field {
            color: $secondary-color;
        }
    }
}

.scorepage {
    margin-top: 200px;

    .return-main-page {
        background-color: $secondary-color;
        width: 30rem;
        display: block;
        margin: 30px auto;
        border-radius: 10px;
        border: 2px solid $primary-color;
        opacity: 0.90;
    }

    .scorepage-container {
        margin-top: 150px;
        margin-bottom: 150px;
        padding: 20px;
        background-color: $primary-color;
        color: $secondary-color;
        width: 75%;
        opacity: 0.95;
        border-radius: 20px 0 20px 0;
        font-family: $eastwood-font;
    }
}

.register-login-form {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $eastwood-font;
    font-size: 2rem;
    border-radius: 20px 0 20px 0;
    width: 75%;
    margin: 100px auto;
    padding: 20px;

    .form-group {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    .btn {
        width: 50%;
        background-color: $secondary-color;
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        display: block;
        margin: 20px auto;
    }
}

.profilepage-body {
    display: flex;

    .profilepage-container {
        background-color: $primary-color;
        opacity: 0.95;
        border-radius: 20px 0 20px 0;
        width: 90%;
        margin-top: 250px;
        float: left;
        color: $secondary-color;
        padding: 20px;

        h1 {
            font-family: $eastwood-font;
            margin-bottom: 20px;
        }

        .custom-file-input {
            color: black;
            background-color: #868686;
        }
    }
}

.btn-save-bottom {
    width: 25%;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin: 10px auto;
}

.return-admin-page, .return-main-page {
    background-color: $secondary-color;
    width: 30rem;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid $primary-color;
    opacity: 0.90;

    a {
        color: $primary-color;
        font-family: $eastwood-font;
        font-size: 3rem;
        display: block;
        width: auto;
        text-align: center;
    }
}

.loginpage {
    width: 50%;

    .login-form {
        width: 90%;
        margin: 0 auto;
        padding: 25px;

        @media screen and (min-width: 768px) {
            width: 400px;
        }

        h1 {
            text-align: center;
            font-weight: 900;
            font-size: xx-large
        }
    }
}

.profilepage-body {
    margin-top: 75px;
}

.hidden-form-field {
    display: none;
}
