{% extends 'base.html.twig' %}

{% block title %}
    WildGames
{% endblock %}

{% block body %}
    <section class="homepage-body">
        <div class="container-fluid homepage-container">
            <div class="row no-gutters homepage-welcome">
                <h1>Welcome To WildGames</h1>
            </div>
            <div class="row no-gutters homepage-welcome">
                <p>Play as a guest or log in for a better experience and to enjoy fully all of our services !</p>
            </div>
            <div class="row no-gutters">

            </div>
        </div>
    </section>
{% endblock %}
