{% extends 'base.html.twig' %}

{% block title %}
    WildGames
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .games-link {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="homepage-body">
{#        <img src="build/images/background01-small.1133516d.png" class="background-small" alt="">#}
{#        <img src="build/images/background01-large.26c65ce5.png" class="background-large" alt="">#}
        <div class="container-fluid homepage-container">
            <div class="row no-gutters homepage-welcome">
                <h1>Welcome To WildGames</h1>
            </div>
            <div class="row no-gutters homepage-welcome">
                <p>Play as a guest or log in for a better experience and to enjoy fully all of our services</p>
            </div>
        </div>
    </section>
{% endblock %}
